{% extends "layout.html" %}
{% block content %}

<div id="main" class="container-fluid">
    <img style="position: absolute; top: 10px;" width="100px" src="/static/img/desjardins.svg" />
    <img style="position: absolute; top: 10px; left: 125px;" width="100px" src="/static/img/twilio.png" />
    <img style="position: absolute; top: 10px; left: 250px;" width="100px" src="/static/img/astuce.png" />
    <img style="position: absolute; top: 0; right: 0" width="100px" src="/static/img/ibm.png" />
    <h1>
        <span>Chat</span>Stock<a href="#">(Help)</a>
    </h1>

    <div id="conversation">
    </div>

    <div class="chatbox ui fluid action left icon input">
        <input id="message" type="text" placeholder="Enter your message..." value="">
        <div id="send" class="ui button">
            <i class="ui send icon"></i>
        </div>
    </div>
</div>

{% endblock %}